<a href="https://colab.research.google.com/github/safakan/CCTB_repo_safak_atakan_celik/blob/main/statistics/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import scipy

# Question 1
2 population means, known stds

In [2]:
playoff_n = 30
playoff_mean = 189.3
playoff_std = 25

regular_n = 32
regular_mean = 175.8
regular_std = 21


# helper function for std error to ease calculations
def calculate_stderr_of_difference_in_means_for_normal_two_mean_comparison(std1, n1, std2, n2):
  return (((std1**2) / n1) + ((std2**2) / n2)) ** 0.5

# helper function for z statistic
def calculate_z_statistic_when_null_hypothesis_assumes_equal_means(mean1, mean2, stderr):
  """
  Calculate the z statistic for two means.
  Works only when null hypothesis assumes both means to be equal
  """
  return ((mean1 - mean2) / stderr)

In [3]:
# empty df to store values to be used
df_test_stats = pd.DataFrame(columns=['alpha', 'critical_z', 'standard_error_of_difference_in_means', 'z_statistic', 'p_value'])

In [4]:
# level of significance
df_test_stats.loc[0, "alpha"] = 0.02

# critical z value for the right tail
df_test_stats.loc[0, "critical_z"] = scipy.stats.norm.ppf(1 - (df_test_stats.loc[0, "alpha"]))

# standard error of difference in means
df_test_stats.loc[0, "standard_error_of_difference_in_means"] = calculate_stderr_of_difference_in_means_for_normal_two_mean_comparison(playoff_std, playoff_n, regular_std, regular_n)

# z statistic
df_test_stats.loc[0, "z_statistic"] = calculate_z_statistic_when_null_hypothesis_assumes_equal_means(playoff_mean, regular_mean, df_test_stats.loc[0, "standard_error_of_difference_in_means"])

# p value, area under the curve after the right tail for the z statistic
df_test_stats.loc[0, "p_value"] = 1 - scipy.stats.norm.cdf(df_test_stats.loc[0, "z_statistic"])

# comparing p value - alpha & z statistic - critical z pairs to see the final decision.
# double check for safety
conditions = [(df_test_stats.loc[0, "p_value"] < df_test_stats.loc[0, "alpha"]), (df_test_stats.loc[0, "z_statistic"] > df_test_stats.loc[0, "critical_z"])]

if conditions[0] and conditions[1]:
  print("Reject null hypothesis")
else:
  print("Fail to reject null hypothesis")

Reject null hypothesis

In [5]:
df_test_stats

  alpha critical_z standard_error_of_difference_in_means z_statistic   p_value
0  0.02   2.053749                              5.883416    2.294585  0.010878

# Question 2
2 population means, unknown stds, variances assumed equal

In [6]:
# raw data, travel times between (A-B (80 miles))
route_teacher_data_raw = "94 86 120 105 99 110 104 112 115 93 117 114"
route_john_data_raw = "112 107 111 112 100 115 109 119 93 126"


data_teacher = {
    "route_teacher_timings": pd.Series(map(int, route_teacher_data_raw.split(" ")))
}

data_john = {
    "route_john_timings": pd.Series(map(int, route_john_data_raw.split(" ")))
}

df_teacher = pd.DataFrame(data_teacher)
df_john = pd.DataFrame(data_john)

In [7]:
notes = """
      Teacher claims their route takes less time
      Hypotheses:
      H0: mean_teacher >= mean_john
      Ha: mean_teacher < mean_john

      Population variances are assumed to be equal.
      alpha = 0.05
      one tail test
      """

def calculate_pooled_variance(n1, std1, n2, std2):
  return (((n1 - 1) * (std1**2)) + ((n2 - 1) * (std2**2))) / (n1 + n2 - 2)

def stderr_of_difference_in_means_using_pooled_variance(pooled_variance, n1, n2):
  return (pooled_variance * ((1 / n1) + (1 / n2))) ** 0.5

In [8]:
level_of_significance = 0.05
sample_size_teacher = len(df_teacher)
sample_size_john = len(df_john)
degree_of_freedom = sample_size_teacher + sample_size_john - 2

teacher_route_std = df_teacher["route_teacher_timings"].std()
john_route_std = df_john["route_john_timings"].std()

pooled_variance = calculate_pooled_variance(sample_size_teacher, teacher_route_std, sample_size_john, john_route_std)

stderr = stderr_of_difference_in_means_using_pooled_variance(pooled_variance, sample_size_teacher, sample_size_john)

teacher_mean = df_teacher["route_teacher_timings"].mean()
john_mean = df_john["route_john_timings"].mean()

#
test_statistic = abs((teacher_mean - john_mean) / stderr)

critical_t_value = scipy.stats.t.ppf(1 - level_of_significance, degree_of_freedom)

p_value = 1 - scipy.stats.t.cdf(test_statistic, degree_of_freedom)

In [9]:
print(f"""
critical_t_value: {critical_t_value},
test_statistic: {test_statistic},
p_value: {p_value},
level_of_significance: {level_of_significance}
      """)

critical_t_value: 1.7247182429207857,
test_statistic: 1.0730336692630693,
p_value: 0.14801653045228247,
level_of_significance: 0.05

In [10]:
conditions = [(p_value < level_of_significance), (test_statistic > critical_t_value)]

if conditions[0] and conditions[1]:
  print("Reject null hypothesis")
else:
  print("Fail to reject null hypothesis")

Fail to reject null hypothesis

# Question 3
2 population means, unknown stds, variances assumed not equal

In [ ]:
question = """
Shaw is interested in examining whether women, on average,
spend more time per day using the Internet compared to men.
The data below illustrates the daily Internet usage in minutes
for a random sample of both men and women.
We can assume that the population variances,
for daily Internet usage, are not the same for men and women.

Men (Population 1)
561 295 299 319 314 324 288 367 207 333

Women (Population 2)
370 525 317 625 373 492 803 476 263 367

a) Identify the null and alternative hypotheses

b) Conduct a hypothesis test to assess this claim, using a significance level of 0.01

c) Determine the p-value
"""

In [ ]:
# a) Identify the null and alternative hypotheses
# one tailed, right
h0 = "mean women <= mean man"
ha = "mean women > mean man"

In [ ]:
# b) Conduct a hypothesis test to assess this claim, using a significance level of 0.01

In [ ]:
data_women_raw = "370 525 317 625 373 492 803 476 263 367"
data_men_raw = "561 295 299 319 314 324 288 367 207 333"

data_women = {
    "data_women": pd.Series(map(int, data_women_raw.split(" ")))
}

data_men = {
    "data_men": pd.Series(map(int, data_men_raw.split(" ")))
}

df_women = pd.DataFrame(data_women)
df_men = pd.DataFrame(data_men)

In [ ]:
# helper functions

def calculate_welch_dof(std1, n1, std2, n2):
  """
  example to compare accuracy
  calculate_welch_dof(4, 22, 5.5, 18)
  output: 30.30330535184848
  """
  return (( ((std1**2) / n1) + ((std2**2) / n2) )**2) /   ( ((((std1**2)/n1)**2) / (n1 - 1))  + ((((std2**2)/n2)**2) / (n2 - 1))   )


# defined in Q1 above: calculate_stderr_of_difference_in_means_for_normal_two_mean_comparison

In [ ]:
level_of_significance = 0.01

women_sample_size = len(df_women)
men_sample_size = len(df_men)

women_std = df_women["data_women"].std()
men_std = df_men["data_men"].std()

women_mean = df_women["data_women"].mean()
men_mean = df_men["data_men"].mean()

welch_dof = calculate_welch_dof(women_std, women_sample_size, men_std, men_sample_size)

critical_t_value = scipy.stats.t.ppf(1 - level_of_significance, welch_dof)

stderr = calculate_stderr_of_difference_in_means_for_normal_two_mean_comparison(women_std, women_sample_size, men_std, men_sample_size)

test_statistic = abs((women_mean - men_mean) / stderr)

p_value = 1 - scipy.stats.t.cdf(test_statistic, welch_dof)

conditions = [(p_value < level_of_significance), (test_statistic > critical_t_value)]

if conditions[0] and conditions[1]:
  print("Reject null hypothesis")
else:
  print("Fail to reject null hypothesis")

Fail to reject null hypothesis

In [ ]:
print(f"""
critical_t_value: {critical_t_value},
test_statistic: {test_statistic},
p_value: {p_value},
level_of_significance: {level_of_significance}
      """)

critical_t_value: 2.6200749719008427,
test_statistic: 2.228457580609311,
p_value: 0.021258579097246266,
level_of_significance: 0.01

# Question 4

2 population proportions

two proportion z test

In [ ]:
question = """
A Canadian bank is interested in investigating
whether a greater proportion of younger customers prefer using online banking
in comparison to older customers.

In a survey involving 80 customers under the age of 30,
it was determined that 68 of them primarily utilized online banking for their services.
In contrast, among a group of 100 customers aged 30 and above,
72 relied on online banking for most of their services.

a) Identify the null and alternative hypotheses

b) With a significance level set at 0.05, conduct a hypothesis test to examine the claim that a greater proportion of younger customers prefer using online banking

c) Determine the p-value
"""

In [ ]:
def calculate_stderr_of_differences_in_proportions(pooled_proportion, sample_size_1, sample_size_2):
  """
  example for comparison:
  usage: calculate_stderr_of_differences_in_proportions(0.4333, 500, 400)
  accurate output: 0.03324123937220151
  """
  return ((pooled_proportion * (1 - pooled_proportion)) * ((1 / sample_size_1) + (1 / sample_size_2)))**0.5

In [ ]:
# a) Identify the null and alternative hypotheses
# one tailed, right
h0 = "proportion of younger customers <= proportion of older customers"
ha = "proportion of younger customers > proportion of older customers"

In [ ]:
# b) With a significance level set at 0.05, conduct a hypothesis test
level_of_significance = 0.05

sample_size_young = 80
sample_size_old = 100

young_prefer_online_banking = 68
old_prefer_online_banking = 72

young_proportion = young_prefer_online_banking / sample_size_young
old_proportion = old_prefer_online_banking / sample_size_old

In [ ]:
# Check to see if normal distribution can be used
normal_distribution_conditions = [(sample_size_young * young_proportion >= 5),
                                  (sample_size_young * (1 - young_proportion) >= 5),
                                  (sample_size_old * old_proportion >= 5),
                                  (sample_size_old * (1 - old_proportion) >= 5)
                                  ]
if all(normal_distribution_conditions):
  print("normal distribution can be used")

normal distribution can be used

In [ ]:
critical_t_value = scipy.stats.norm.ppf(1 - level_of_significance)

pooled_proportion = (young_prefer_online_banking + old_prefer_online_banking) / (sample_size_young + sample_size_old)

stderr_of_differences_in_proportions = calculate_stderr_of_differences_in_proportions(pooled_proportion, sample_size_young, sample_size_old)

# using proportions
test_statistic = abs((young_proportion - old_proportion) / stderr_of_differences_in_proportions)

# right tail, 1 - cdf with test stat
p_value = 1 - scipy.stats.norm.cdf(test_statistic)

In [ ]:
print(f"""
critical_t_value: {critical_t_value},
test_statistic: {test_statistic},
p_value: {p_value},
level_of_significance: {level_of_significance}
      """)

critical_t_value: 1.6448536269514722,
test_statistic: 2.0846376869169103,
p_value: 0.018551100429734957,
level_of_significance: 0.05

In [ ]:
conditions = [(p_value < level_of_significance), (test_statistic > critical_t_value)]

if conditions[0] and conditions[1]:
  print("Reject null hypothesis")
else:
  print("Fail to reject null hypothesis")

Reject null hypothesis